<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard | KeyaJob</title>
</head>

<body>
    <h2>Job Categories: </h2>

    <h2>Job Types: </h2>
    <% jobtypes.forEach(function(jobType) { %>
        <li>
            <%= jobType.jobTypeName %>
        </li>
        <% }) %>

</body>

</html>